<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>blog</title>

</head>
<body>
  <div class="rightBox" id="loginBox" >
        <div class="title"><span>登录</span></div>
        <div class="line"><span class="colDark">用户名：</span><input type="text" name="username" id="inuser"/><em></em></div>
        <div class="line"><span class="colDark">密码：</span><input type="password" name="password" id="inpassword"><em></em></div>
        <div class="line"><span class="colDark"></span>
            <button class="login">登 录</button>
        </div>
        <p class="textRight">还没注册？<a href="javascript:;" class="colMint">马上注册</a></p>
        <p class="colWarning textCenter"></p>
    </div>

        <div class="rightBox" id="registerBox">
        <div class="title"><span>注册</span></div>
        <div class="line"><span class="colDark">用户名：</span><input type="text" name="username" id="upuser"></div>
        <div class="line"><span class="colDark">密码：</span><input type="password" name="password" id="password"</div>
        <div class="line"><span class="colDark">确认：</span><input type="password" name="repassword" id="repassword"></div>
        <div class="line"><span class="colDark"></span>
            <button class="register">注 册</button>
        </div>
        <p class="textRight">已有账号？<a href="javascript:;" class="colMint">马上登录</a></p>
        <p class="colWarning textCenter"></p>
    </div>
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/index.js">

    </script>

</body>
</html>
