<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>blog</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/public/css/common.css">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
  <header>
      <div class="navbar">
        <ul class="nav">
          <li>
            {% if category == '' %}
            <a href="/" class="navigation i-focus">首页</a>
            {% else %}
            <a href="/" class="navigation">首页</a>
            {% endif %}
          </li>
            {% for cate in categories %}
              <li>
                {% if category == cate.id %}
                <a href="/?category={{cate.id}}" class="navigation i-focus">{{cate.name}}</a>
                {% else %}
                <a href="/?category={{cate.id}}" class="navigation">{{cate.name}}</a>
                {% endif %}
              </li>
            {% endfor %}
        </ul>
      </div>
  </header>
<div class="container">


  <div class="content-wrap">
    <div class="content">
      {% block content %}{% endblock %}

    </div>


    <div class="sidebar">
      {% if userInfo._id %}
      <div class="rightBox" id="userInfo">
            <div class="title l-title"><span>用户信息</span></div>
            <p><span class="colDark username">{{userInfo.username}}</span></p>
            {% if userInfo.isAdmin %}
            <span class="colDanger">你好，管理员！</span>
            <a href="/admin">进入管理</a>
            {% else %}
            <span class="colDanger">你好，欢迎光临我的博客！</span>
            {% endif %}

            <p class="l-log-style"><span><a href="javascript:;" id="logout">退出</a></span></p>
      </div>
      {% else %}
      <div class="rightBox" id="loginBox" >
        <div class="title l-title"><span>登录</span></div>
        <div><span class="l-user-fs">用户名：</span><input type="text" name="username" id="inuser" placeholder="你的用户名"><em></em></div>
        <div><span class="l-user-fs">密码：</span><input type="password" name="password" id="inpassword" placeholder="密码"><em></em></div>
        <div class="l-logBox">
          <span></span>
            <button class="login l-log-style">登 录</button>
        </div>
        <p class="textRight">还没注册？<a href="javascript:;" class="nowUp">马上注册</a></p>
        <p class="loginWarning"></p>
      </div>

        <div class="rightBox" id="registerBox" style="display: none">
          <div class="title l-title"><span>注册</span></div>
          <div><span class="l-user-fs">用户名：</span><input type="text" name="username" id="upuser" placeholder="你的用户名"></div>
          <div><span class="l-user-fs">密码：</span><input type="password" name="password" id="password" placeholder="密码"></div>
          <div><span class="l-user-fs">确认：</span><input type="password" name="repassword" id="repassword" placeholder="再次输入密码"></div>
          <div class="l-logBox">
            <span></span>
            <button class="register l-log-style">注 册</button>
          </div>
          <p class="textRight">已有账号？<a href="javascript:;" class="nowIn">马上登录</a></p>
          <p class="reWarning"></p>
      </div>
    {%endif%}


    </div>
  </div>
</div>

    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/index.js"></script>

</body>
</html>
