{% extends 'layout.html' %}


{% block content %}
    <ul class="articleWrap">
        <li>
            <h2>{{content.title}}</h2>
            <div class="title-info">
                <span>作者:{{content.user.username}}</span>
                <span>时间:{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}</span>
                <span>阅读:{{content.views}}</span>
                <span>评论:10</span>
            </div>
            <div class="content">
                {{content.content}}
            </div>
        </li>
    </ul>

    <div class="commentWrap">
        <div style="height: 30px">
            <span class="fl">评论</span>
            <span class="fr">一共有<span id="commentNum"></span>条评论</span>
        </div>
        {% if userInfo._id %}
        <div class="formWrap">
            <input type="hidden" id="contentId" value="{{content.id}}">
            <textarea  rows="3" class="form-control" name="content" id="messageContent"></textarea>

            <button type="button" class="btn btn-primary" id="submitComment">提交</button>
        </div>
        {% else %}
        <div class="info">你还没有登录，请先登录！</div>
        {% endif %}
        <div  id="noComments"></div>


        <div id="messageList" id="commitList" style="display: block;">

        </div>
            <!-- <ul id="pager" class="pager">

              <li class="waves-effect previous"><a href="javascript:;"><i class="material-icons">上一页</i></a></li>

              <li class="active middle"><a href="javascript:;"></a></li>

              <li class="waves-effect next"><a href="javascript:;"><i class="material-icons">下一页</i></a></li>

            </ul> -->
    </div>
<script src="public/js/comment.js"></script>
{% endblock %}
