{% extends 'layout.html' %}


{% block content %}
    <div class="view-header">
        <div>
            <h2 class="view-title">{{content.title}}</h2>
            <div>
                <span>作者ID:{{content.user.toString()}}</span>
                <span>时间:{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}</span>
                <span>阅读:{{content.views}}</span>
                <span>评论:{{content.comments.length}}</span>
            </div>
            <div class="view-content">
                {% autoescape false %}{{content.content}}{% endautoescape %}
            </div>
        </div>
    </div>

    <div class="commentWrap">
        <div style="height: 30px">
            <span class="fl">评论</span>
            <span class="fr">一共有<span id="commentNum">{{content.user.username}}</span>条评论</span>
        </div>
        {% if userInfo._id %}
        <div class="formWrap">
            <input type="hidden" id="contentId" value="{{content.id}}">
            <textarea  placeholder="说点什么吧…"  rows="3" class="form-control" name="content" id="messageContent"></textarea>

            <button type="button" class="btn btn-primary" id="submitComment">提交</button>
        </div>
        {% else %}
        <div class="info">你还没有登录，请先登录！</div>
        {% endif %}
        <div  id="noComments"></div>


        <div id="messageList" id="commitList" style="display: block;">

        </div>
        <div class="pager">
          <ul class="clear">
            <li class="previous">
              <a href="">上一页</a>
            </li>
            <li></li>
            <li class="next">
              <a href="">下一页</a>
            </li>
          </ul>
        </div>

    </div>
    <script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="public/js/comment.js"></script>
{% endblock %}
